{% extends "base.html" %}

{% block title %} Character {% endblock %}

{% block content %}
<p> <img src="{{image}}"></p>
<p> Name: {{name}}</p>
<p> Status: {{status}}</p>
<p> Species: {{species}}</p>
<p> Type: {{type}}</p>
<p> Gender: {{gender}}</p>
<p> Origin: <a href ="{% url 'location' origin.id%}" > {{origin.name}} </a> </td></p>
<p> Location: <a href ="{% url 'location' location.id %}" > {{location.name}} </a> </td></p>

<table>
        <thead>
            <tr>
                <th> Chapters where is involved </th>
            </tr>
        </thead>
        <tbody>
                {% for e in episode %}
                <tr>
                        <td> <a href ="{% url 'episodio_selec' e.id %}" > {{e.name}} </a> </td>
                </tr>
                {% endfor %}
        </tbody>
</table>

{% endblock %}